{% extends 'base.html' %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

<style>
  .todo nav ul li{
    padding: 15px 20px;
  }
</style>

{% endblock css %}

{% block main %}


  <div class="todo">

{% block nav %}
{% include 'resume/base/nav.html' %}
{% endblock nav %}



<main class="panelD">

  <header>
    <img src="img/man.svg" alt="" class="perfil">
    <img src="img/noti.svg" alt="">
    <img src="img/chat.svg" alt="">
  </header>

  <h1 class="tituloD">Dashboard</h1>
  <h2>Team Leader: {{user.parent}}</h2>
  <a href="/"><button type="button"  style="float: right;">Create Another Resume</button></a>

  <h2>Your Resume's<i class="fas fa-arrow-down"></i></h2>
  <div class="tabla">
    <table cellpadding="0" cellspacing="0" >
      <tr class="negrita bg-dark ">
        <th>Resume Name</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Created By</th>
        <th>Action</th>
        <th>View Resume</th>
      </tr>
      {% for resumes in resume %}
      <tr>
        <th><h4>{{ resumes.title }}  {{resumes.template_set.all.first.name}}</h4></th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>{{ resumes.user}}</th>
        <th><a href="{% url 'update_data' resumes.id %}"
        class="btn btn-warning btn-sm">edit and add more</a></th>
        {% if   resumes.template.name == "template"%}
        <th><a href="{% url 'template_preview' resumes.id %}"

          class="btn btn-success btn-sm">View</a></th>
        {% else %}
        <th><a href="{% url 'template_preview2' resumes.id %}"

          class="btn btn-success btn-sm">View</a></th>
        {% endif %}
         
      </tr>
      {% endfor %}
      
    </table>
  </div>


  
  
  
</main>

</div>


   
{% endblock main %}

