<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Responsive CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/static/template5editable/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="containers">
        <div class="name_sec">
            <input type="text"class="data full_name" id="full_name" name="full_name" placeholder="Full name"
            value="{{resume.resumeuserdetails_set.get.full_name}}">
            <input type="text" class="data title" id="title" name="title" placeholder="Title"
            value="{{resume.title}}">
            <!-- <input type="text" name="" placeholder="Des"> -->
        </div>
        <table>

          
               
                    <div class="con_info">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" name="mobile" id="mobile"
                                value="{{resume.resumeuserdetails_set.get.mobile}}" class="data mobile"
                                placeholder="Phone Number"> <i class="fa fa-phone fa-lg fa-fw" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" name="email" id="email" class="data email"
                                value="{{resume.resumeuserdetails_set.get.email}}" placeholder="jon_doe@example.com">
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text"  name="address" id="address" class="data address"
                                value="{{resume.resumeuserdetails_set.get.address}}" placeholder="Address">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" name="date_of_birth" id="date_of_birth" class="data date_of_birth"
                                value="{{resume.resumeuserdetails_set.get.date_of_birth}}" placeholder="Date of birth">
    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pad_sec">

                <div class="about skills">
                    <h2 class="title2">Professionals skills</h2>
                    {% for object in resume.skills_set.all %}
                <div class="row">
                    <div class="col-md-3">
                        <div class="box">
                            <input type="text"  class="data skills"  name="skills" placeholder="skills"
                            value="{{ object.skills }}" placeholder="Skills">
                        </div>
                    </div>

                    
                </div>
                <div class="btnset">
                    <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                </div>
                {% endfor %}
            </div>

            
                        
                <div class="contactInfo education">  
            <h2 class="title2">EDUCATION</h2>
            {% for object in resume.education_set.all %}
            <div class="row">
                <div class="col-md-3"><input type="text" class="data qualification_name" 
                    name="qualification_name" value="{{object.qualification_name}}" placeholder="Qualification name..."></div>

                <div class="col-md-3"><input type="text" class="data university" name="university"
                    placeholder="University name..." value="{{object.university}}"></div>

                <div class="col-md-3"><input type="text"class="data year_of_passing" name="year_of_passing"
                    placeholder="Year of passing..." value="{{object.year_of_passing}}"></div>

                <div class="col-md-3"><input type="text" class="data percentage_or_grade"
                    name="percentage_or_grade" placeholder="Grade..." value="{{object.percentage_or_grade}}"></div>
            </div>
            <div class="btnset">
                <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
            </div>
            {% endif %}
            </div>
              
                

           
                <div class="about">
                    <h2 class="title2">CAREER OBJECTIVE</h2>
               <div class="row">
                   <div class="col-md-12">
                    <textarea  rows="4" cols="50" class="data objective" placeholder="Career objective...." rows="4" cols="50" id="objective"
                    name="objective" required="">{{resume.objective}} required=""></textarea>
                   </div>
               </div>
               </div>
               
               <div class="about">
                <h2 class="title2">Experience</h2>
               <div class="row">
                {% for object in resume.experience_set.all %}
                   <div class="col-md-4">
                    <div class="year_company">
                        <input type="text" name="" placeholder="Company Name">
                        <input type="text" name="" placeholder="Place">
                    </div>
                   </div>

                   <div class="col-md-8">
                    <div class="text">
                        <!-- <h4>Senior UX Developer</h4> -->
                        <textarea placeholder="Designation..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                        <textarea placeholder="Role here..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                        <div class="btnset">
                            <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                            <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                        </div>
                    </div>
                   </div>
                   {% endfor %}
               </div>
               </div>
               


              
            

            <div class="about interest">
                <h2 class="title2">Interests</h2>
                      <div class="row">
                          <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" placeholder="Reading">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" placeholder="Gaming">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" placeholder="Cooking">
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="inputWithIcon inputIconBg">
                                <input type="text" placeholder="Singing">
                            </div>
                          </div>
                      </div>  
                      </div>
                        
               <h2 class="title2">WORK SAMPLES</h2>
                          <div class="row">
                              <div class="col-md-4">
                                <div class="year_company">
                                    <input type="text" name="" placeholder="Project name...">
                                </div>
                              </div>

                              <div class="col-md-8">
                                <div class="text">
                                    <!-- <h4>Senior UX Developer</h4> -->
                                    <textarea placeholder="Project link..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                                    <textarea placeholder="Technology..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                                    <textarea placeholder="Description here..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                                    <textarea placeholder="Role and Responsibilities here..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                                    <div class="btnset">
                                        <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                        <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                                    </div>
                                </div>
                              </div>
                          </div>
                            
                            
                         
                        
                        <div class="about">
                            <h2 class="title2">ACHIEVEMENTS</h2>
                            
                            <textarea placeholder="Achievements here..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                            <div class="btnset">
                                <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                            </div>
                        </div>
                        <div class="about">
                            <h2 class="title2">CERTIFICATE</h2>
                            
                            <textarea placeholder="Certicate here..." rows="4" cols="50" id="textareaInput" name="textareaInput" required=""></textarea>
                            <div class="btnset">
                                <button class="Delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                                <button class="add"><i class="fa fa-plus-square" aria-hidden="true"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- partial -->
</body>

</html>